# Connect to Supabase via connection pooling.
DIRECT_URL="postgresql://postgres.hscywscjklzhelcaffmr:<PW>@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DATABASE_URL="postgresql://postgres.hscywscjklzhelcaffmr:<PW>@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"